@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgba(138, 81, 252);
}

#gif {
    width: 300px;
    height: 300px;
    margin: 12px auto 16px auto;
    display: block;
}

.tabela-superior {
    display: table-caption;
}



main {
    background-color: aliceblue;
    margin: auto auto 30px auto;
    width: 370px;
    height: 765px;
    border-radius: 18px;
}

#label1 {
    margin: 44px 271px 6px 24px;
    display: block;
}

#select1 {
    width: 327px;
    height: 48px;
    top: 68px;
    left: 24px;
    border-radius: 4px;
    border-width: 1px;
    opacity: 1;
}

#select2 {
    display: block;
    width: 327px;
    height: 48px;
    top: 68px;
    left: 24px;
    border-radius: 4px;
    border-width: 1px;
    opacity: 1;

}

#label2 {
    display: block;
    margin: 24px 271px 6px 24px;

}

#label3 {
    display: block;
    margin: 24px 271px 6px 24px;
}

input {
    display: block;
    border-radius: 4px;
    border-width: 1px;
    opacity: 1;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    appearance: none;
}

button {
    display: block;
    width: 327px;
    height: 48px;
    top: 329px;
    left: 24px;
    border-radius: 5px;
    opacity: 1;
    background: #772FD3;
    color: white;
    margin: 24px 271px 6px 24px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}



.tabela-inferior {
    border: 2px solid #772FD3;
    border-radius: 28px;
    margin: 36px 24px 23px 24px;
    width: 300px;
    height: 342px;
    padding: 36px 24px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

#brasil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.label4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

select {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
}